body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 98vh;
}




/* Header & nav links */


.headerNavBar {
  padding: 0.001rem;
  background-color: rgb(21, 19, 19);
  margin: 0;
}



.ulNavBar {
  display: flex;
  gap: 1.2rem;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
}

.ulNavBar a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}



.ulNavBar a:hover {
  text-decoration: underline;
}

.ulNavBar a:active {
  color: #9c0000;
}



/* Login */

.loginContainer {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(0, 1fr));
  grid-template-rows: auto auto;
  height: 100dvh;
  height: 100vh;
  justify-items: center;
  /* center horizontally */

}

.loginContainer h2 {
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  grid-column: 1 / -1;
}

.loginItem:nth-child(2) {
  grid-column: 1 / -1;
}

.loginContainer .loginButton {

  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  color: #9c0000;

}

.loginContainer .loginButton:hover {
  border: #9c0000 solid 1px;
}

.loginItem {
  display: flex;
  flex-direction: column;
}




.dread {

  background-image: url(./imgs/sr-avatar-dreadpirate.png);
}

.lucy {
  background-image: url(./imgs/sr-avatar-reallucydrop.png);
}

.friendly {
  background-image: url(./imgs/sr-avatar-friendlychemist.png);
}

.red {
  background-image: url(./imgs/sr-avatar-redandwhite.png);
}


.resetForm {
  grid-column: 1 / -1;
}

.resetBtn {
  background: black;
  border-radius: 10px;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 0.8rem;
  border: #9c0000 0.3px solid;
  color: white;
  text-align: center;
}

.resetBtn:hover {
  background-color: #390404;
}

.resetBtn:active {
  background-color: black;
}

.btnText {
  margin-top: 0.3rem;
  color: white;
  align-self: center;
  display: block;
}

.btnBtnText {
  font-size: 0.7rem;
}



/* main main  */

.mainContentContainer {
  margin-left: 2.5rem;
}

/* @media screen and (max-width: 900px) {
  .mainContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

} */


hr {
  margin: 1rem 1rem 1rem 0rem;
}

.welcomeImage {
  width: 40px;
}


/* body items */

.currentDateParagpraph {
  font-style: italic;
  font-size: 0.8rem;
  color: #888888;
}

.bodyButtons {
  background: transparent;
  border-radius: 10px;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 0.8rem;
  border: #888888 0.3px solid;
  color: #9c0000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyButtons:hover {
  background-color: #888888;
}

.bodyButtons:active {
  background-color: #000000;
}

#openCheckIn {
  margin-bottom: 1rem;
}

.feedBackLink {
  color: #9c0000;
}



/* Employee table */


.employeeTable {
  border-collapse: collapse;
  border: solid 1px black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: solid 1rem #9c0000;
  color: #9c0000;
  text-align: center;
}

.employeeTable td {
  padding: 0.5rem;
  border: #888888 0.3px solid;
  font-size: 0.8rem;

}

.employeeTable th {
  padding: 0.9rem;
  border: #888888 0.3px solid;
  font-size: 0.8rem;
  font-weight: 550;
}

.offline {
  background-color: #9c0000;
  color: white;
}

/* Add Task Form */

.addTaskForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: #000000 solid 0.3px;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
}


.addTaskForm label {
  font-size: 0.8rem;
  color: #888888;
  margin: 0.1rem;
}

.addTaskForm input {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #888888;
  margin: 0.1rem;
}

.selectEmployee {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.addTaskForm button {
  margin-right: auto;
}


.dailyFeedBackForm {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: #000000 solid 0.3px;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
}

.dailyFeedBackForm label {
  font-size: 0.6rem;
  font-style: italic;
  color: #888888;
}

.dailyFeedBackForm .mainLabel {
  font-size: 1rem;
  font-style: normal;
  color: #9c0000;
  margin-right: 100%;
}

.dailyFeedBackForm .textInput {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  width: 90%;
}


/* daily task feedback form */

.dailytaskFeedBack {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: #000000 solid 0.3px;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
}

.dailytaskFeedBack .mainLabel {
  font-size: 1rem;
  font-style: normal;
  color: #9c0000;
  display: block;
}

.dailytaskFeedBack input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

.dailytaskFeedBack .textInput {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  width: 90%;
}

.taskFeedBackContainerNoButton {
  margin-bottom: 1rem;
}


/* manager TaskLIST */


.managerTasks {
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-top: #9c0000 solid 0.3px;
  border-bottom: #9c0000 solid 0.3px;
  border-left: #9c0000 solid 0.3px;
  border-right: #9c0000 solid 0.3px;
  width: 200px;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  color: #9c0000;
}

.managerTasks:hover {
  color: #390404;
  border-right: #9c0000 solid 3px;
}





.managerTasks img {
  width: 50px;
}

/* Single task clicked  */

.singleTaskClicked {
  text-decoration: none;
  margin-top: 1rem;
  border: #9c0000 solid 0.3px;
  width: 200px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  color: #9c0000;
}

.singleTaskClicked a:visited,
.singleTaskClicked a:link {
  color: #9c0000;
  text-decoration: none;
}

.singleTaskClicked a:hover {
  color: #390404;
  text-decoration: underline;
}

.singleTaskClicked img {
  width: 50px;
}

.singleTaskButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Employee task list css*/

.checkBoxContainer {
  padding: 0.5rem;
  list-style: none;
  border: 1px solid #9c0000;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 200px;
}

.checkBoxContainer li {
  padding-top: 0.5rem;
  border-top: 1px solid #9c0000;
}

/* FeedBack container */
.feedBackGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* feedback text list */

.feedBackTextContainer {
  padding: 1rem;
  border: 1px solid #9c0000;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 250px;
}

.feedBackTextContainer li {
  list-style: none;
  border: #000000 solid 1px;
  padding: 1rem;
  border-radius: 10px;
}


/* Charts */


.chartContainer {

  width: 400px;
  height: fit-content;
  text-align: center;
}

.rating-text {
  margin-top: 1rem;
}